#studies{
    height: 70vh;
}

.studies-ctn{
    width: 80%;
    height: 70%;
    flex-direction: column;
    justify-content: space-around;
}

.info-studies-1{
    width: 280px;
    height: 70px;
    right: 100px;
    bottom: -20px;
}

.info-studies-1:hover{
    transform: scale(1);
    transition: all 0.2s ease;
    bottom: -20px;
    right: 100px;
}

.info-studies-1::after{
    right: -30px;
    bottom: 25px;
    transform: rotate(-90deg);
}

.info-down{
    bottom: -20px;
    left: 100px;
}

.info-down::after{
    left: -30px;
    top: 25px;
    transform: rotate(90deg);
}