.contents-tools-1 > a > span{
    width: 90px;
    height: 90px;
    font-size: 1.8em;
}

.contents-tools-2 > a > span{
    width: 90px;
    height: 90px;
    font-size: 1.8em;
}

.contents-tools-3 > a > span{
    width: 90px;
    height: 90px;
    font-size: 1.8em;
}

.contents-tools-4 > a > span{
    width: 90px;
    height: 90px;
    font-size: 1.8em;
}

.contents-tools-5 > a > span{
    width: 90px;
    height: 90px;
    font-size: 1.8em;
}