@font-face{
    font-family: "ClearSansBold",sans-serif;
    src: url("../fonts/ClearSansBold.ttf");
}

@font-face{
    font-family: "ClearSansLight";
    src: url("../fonts/ClearSansLight.ttf");
}

@font-face{
    font-family: "ClearSansMedium";
    src: url("../fonts/ClearSansMedium.ttf");
}

@font-face{
    font-family: "ClearSansRegular";
    src: url("../fonts/ClearSansRegular.ttf");
}

@font-face{
    font-family: "ClearSansThin";
    src: url("../fonts/ClearSansThin.ttf");
}

body{
    font-family: "ClearSansRegular";
}

h1{
    font-family: "ClearSansMedium";
    font-size: 3em;
}

h2{
    font-size: 2.2em;
}