@font-face{
    font-family: "selawk";
    src: url("../fonts/selawk.ttf");
}

@font-face{
    font-family: "selawksb";
    src: url("../fonts/selawksb.ttf");
}

@font-face{
    font-family: "selawksl";
    src: url("../fonts/selawksl.ttf");
}

@font-face{
    font-family: "selawkb";
    src: url("../fonts/selawkb.ttf");
}

body{
    font-family: "selawksl",sans-serif;
}

h1{
    font-size: 3em;
    font-weight: lighter;
}

h3{
    font-size: 1.4em;
}